body {
    background-color: #dddddf;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#header {
    background-color: #af1e24;
    font-family: sans-serif;
    margin-top: -10px;
    margin-bottom: -23px;
    margin-left: -15px;
    padding-top: 5px;
    padding-left: 35px;
    padding-bottom: 20px;
}
.current {
    font-weight: bolder;
}
h2 {
    font-family: sans-serif;
    margin-left: 50px;
    
}
h4 {
    font-family: sans-serif;
    margin-left: 50px;
    
}
h1 {
    font-family: sans-serif;
    margin-left: 50px;
    font-size: 32pt;
}
p {
    font-family: Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 15px;
}
h6 {
    margin-top: 1px;
    margin-bottom: 12px;
    margin-left: 15px;
    font-family: sans-serif
}
h3 {
    font-family: sans-serif;
    margin-left: 50px;
    margin-top: 15px;
    padding-top: 10px;
    margin-bottom: 6px;
}
li {
    font-family: Helvetica, sans-serif;
}
img{
    margin-left: 0px;
    margin-right: 0px;
    border-width: 0px;
    border-radius: 7px;
}
#e6 {
    margin-left: 15px;
}
#wc {
    font-size: 9pt;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-left: -30px;
    padding-top: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    overflow: hidden;
    background-color: #af1e24;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #a6a5a3;
}
.current {
    background-color: #dddddf;
}
.details {
    background-color: #dddddf;
    float: none;
    list-style: square;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
Nav {
    position: sticky;
    top: 0px 
}
footer {
    background-color: #a6a5a3;
    position: sticky;
    width: 100%;
    padding-bottom: 6px;
}
#useful {
    text-decoration: none;
    background-color: #a6a5a3;
    width: 100%;
    margin-top: 3px;
    margin-left: 0px;
    padding: 0px;
}
.hz {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    border: 0px;
}
#journey {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 75px;
    margin-left: 15px;
}
#faq {
    margin-left: 80px;
}
h5 {
    font-family: sans-serif;
    margin-left: 20px;
}
#answer {
    margin-left: 45px;
}
#answerfinal {
    margin-left: 45px;
    margin-bottom: 50px;
}
#final {
    margin-bottom: 50px;
}